extends base

block content
  .fp-container
      h2 Forgot your password?
      p Don't worry! It happens. Please enter your email address associated with your account.
      label(for="email") 
      .input-div.one
              .i
                i.fas.fa-user
              .div-fp
                input.form__input.fp-email(type='email', placeholder='EMAIL ADDRESS', required)
      a.link(href="/login") Back to Login
      button.btn.btnFP Send Email