extends base

block content
  .fp-container
      h2 Reset your Password
      p Please enter new Password
      label(for="passWord") 
      .input-div.pass
              .i
                i.fas.fa-lock
              .div-rp
                input#password-rp.form__input(type='password', placeholder='NEW PASSWORD', required, minlength='8')
      .input-div.pass
              .i
                i.fas.fa-lock
              .div-rp
                input#passwordconfirm-rp.form__input(type='password', placeholder='CONFIRM NEW PASSWORD', required, minlength='8')
      button.btn.btnRP Reset