.input-div.pass .div-rp {
  background-color: #ddf7e2;
  border-radius: 2px;
  position: relative;
}

.fp-container .i {
  max-height: 1.5rem;
}

.div-rp input {
  margin-left: 15px;
}

.btnRP {
  margin-top: 2rem;
}
